<doctype 5>
<html>
  <head>
  </head>
  <body>
    <div id="info"><%= erb(:_info) %></div>
    <div id="main"><%= erb(:_output) %></div>
    <div id="exits"><%= erb(:_exits)%></div>
    <div id="settings"><%= erb(:_settings)%></div>
    <form action="/" method="post">
    </form>
  </body>
</html>