info

<div>turn:</div>
<div>moves:</div>
<div>gems:</div>
<div>rest:</div>

<div class="grue_room"><%= settings.mzw.info_hash[:clairvoyance][:grue] unless nil %></div>
<div class="grue_path"><%= settings.mzw.info_hash[:clairvoyance][:grue_path] unless nil %></div>
<div class="goal_room"><%= settings.mzw.info_hash[:clairvoyance][:goal] unless nil %></div>
<div class="goal_path"><%= settings.mzw.info_hash[:clairvoyance][:goal_path] unless nil %></div>

<a id="refreshInfo" href="javascript:void(0);">refresh</a>