<div id="loading">L o a d i n g</div>
<div class="error">
	Error! MINIZORK.EXE not found!
</div>
<div class="error">
	Not ready reading drive A
</div>
<div class="error">
	Abort, Retry, Fail?	
</div>
<div class="error">
	<br/>
</div>
<div class="error">
	C:\>_	
</div>
<ul id="turns">
    <%= erb :turn%>
</ul>