@font-face {
	font-family: "Green Screen";
	src: url("./fonts/Greenscr.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: #fff;
	font-family: "Green Screen", monospace;
}

.error, #loading{
	display:none;
	color: #fff;
}

#wrapper {
	background: black;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	}
	#wrapper #inside-wrapper {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}


#main {
	background: black;
	padding-left: 27%;
	padding-top: 20px;
}

header, .heading {
	text-align: center;
}

aside{
	max-width: 25%;
	float: left;
	padding-left: 15px;
	padding-top: 20px;
}
table{	padding-bottom: 30px;}
.heading{
	color: #FF0;
	min-width: 95%;
	padding: 10px;
	margin: 10px 0 10px 0;
	border: solid 2px;
	border-color:#ff0;
}

footer{
  position: fixed;
  width:100%;
  bottom: 0px; 
  color: #0f0;
  background-color: black;
  text-align: center
}

ol, ul {
	list-style-position:inside;
}

ul{
	list-style: none;
}

.sense ul{
	list-style: square;
}

footer ul li{
	display: inline-block;
	padding: 5px;
}

footer ul li:hover, .heading:hover {
	background-color:#0f0;
	color:black;
}

button{
	background-color: #080;
	border:none;
	font-family: "Green Screen", monospace;
	padding: 5px;
}

button:hover{
	background-color: #0f0;
}

.look, .rest, .grue_flees, 
.win, .lose {
	margin: 10px;
	padding: 20px;
	border-style: double;
	border-color: #111;
	border-width: 20px;
}

.look{
	border-style: none;
	-moz-box-shadow: 10px 10px rgba(120,120,120,0.5);
	-webkit-box-shadow: 10px 10px rgba(120,120,120,0.5);
	box-shadow: 10px 10px rgba(120,120,120,0.5);	
}

.lose {
	border-color: #f00;
	color: #f00;
}

.win{
	border-color: #0ff;
	color: #0ff;
}

.grue_flees, .rest{ 
	border-color: yellow;
}

.invalid_move, .move, 
.rest, .grue_flees{
	margin: 10px;
	color: yellow;
}

.loot {
	color: #0f0;
}

.move, .invalid_move, #turns .loot, #loading {
	text-align: center;
}

#turns li div{
	margin: 10px;
}

#info li{
	padding-left: 10px;
}
select, option{
	font-family: "Green Screen";
}

.aquamarine {
	background-color: #7FFFD4;
	color: #005B9A;}
.burntsienna {
	background-color: #623034;
	color:#E48743;}
.chartreuse {
	background-color: #DFFF00;
	color:#88BB55;}
.cobalt {
	background-color: #0047AB;
	color: #E0E9E9;}
.emerald {
	background-color: #50C878;
	color: #005300;}
.lavender {
	background-color: #B57EDC;
	color:#4000BB;}
.ochre {
	background-color: #CC7722;
	color: #F8D4AD;}
.vermilion {
	background-color:#E34234;
	color:#730000;}
.violet {
	background-color:#8F00FF;
	color: #e6e6fa;}
