/ main.haml
#loading 
  LOADING...
.error
  %p
    MINIZORK.EXE not found!
  %p
    %br
  %p
    Not ready reading drive A
  %p
    %br
  %p
    Abort, Retry, Fail?
  %p
    C:\>_
%ul#turns
  = haml(:"/haml/turn")