<!-- index.erb -->
<doctype 5>
<html>
  <head>
    <title>mz_sinatra/erb</title>
    <link rel="stylesheet" type="text/css" href="./stylesheet.css">
    <script type="text/javascript" src="./js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="./js/application.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="inside-wrapper">

        <header>
        </header>
        
        <aside>
          <div id="info_slider">
            <div class="heading">I N F O</div>
            <div id="info" class="menu">
              <%= erb(:"/erb/info") %>
            </div>
          </div>
          <div id="settings_slider">
            <div class="heading">S E T T I N G S</div>
            <div id="settings" class="menu">
              <%= erb(:"/erb/settings") %>
            </div>
          </div>

        </aside>
        
        <div id="main">
          <%= erb(:"/erb/main") %>
        </div>
        
        <div style="clear:both;"></div>
        
        <footer>
          <div id="exits">
            <%= erb(:"/erb/exits") %>  
          </div>
        </footer>

      </div>
      <div style="clear:both;"></div>
    </div>
  </body>
</html>
