<div id="loading">L o a d i n g</div>
<div class="error">
  <p>
    MINIZORK.EXE not found!
  </p>  
  	<br/>
  <p>
    Not ready reading drive A
  </p>  
  	<br/>
  <p>
    Abort, Retry, Fail?	
  </p>  
  <p>
    C:\>_
  </p>  
</div>
<ul id="turns">
    <%= erb :"/erb/turn" %>
</ul>
